<h1>Learning {{ Title_Java }}</h1>

<p>Result</p>

<div id="demo"></div>

<p>document</p>

<button class="btn btn-success" type="button" onclick="document.getElementById('demo').innerHTML = Date()"> Click me to display Date and Time.</button>

 <br>
<button class="btn btn-success" type="button" onclick="document.getElementById('demo').innerHTML = 'call String'"> Click me</button>

<br>
<button class="btn btn-success" type="button" onclick="document.write('Using document.write');"> document.write</button>
<br>
<button class="btn btn-danger"  type="button" onclick="document.getElementById('demo').style.fontSize = '50px';"> fontSize(Larg)</button>
<button class="btn btn-danger"  type="button" onclick="document.getElementById('demo').style.fontSize = '20px';"> fontSize(Small)</button>
<br>
<button class="btn btn-success"  type="button" onclick="document.getElementById('demo').style.display='none'"> display (none)</button>
<button class="btn btn-success"  type="button" onclick="document.getElementById('demo').style.display='Block'"> display (Block)</button>
<br>
<button  class="btn btn-success" type="button" onclick="window.alert(5 + 6);"> window.alert</button>
<br>
<button class="btn btn-success" type="button" onclick="document.write('document.write')"> document.write</button>
<br>
<h1 id="demo2"></h1>
<br>
<p>call function</p>

<button class="btn btn-success" type="button" onclick="myFunction()"> call my function (Error in Angular) </button>
<br>
<button class="btn btn-success" (click)="myFunction()"> call my function</button>
<br>
<button class="btn btn-success" (click)="myFunction2()"> var </button>
 <br>
<button class="btn btn-success" (click)="myFunction3()"> document.write</button>
<br>
<button class="btn btn-success" (click)="myFunction4()"> undefined </button>
<br>
<button class="btn btn-success" (click)="myFunction5()"> JavaScript Strings </button>
<br>
<button class="btn btn-success" (click)="myFunction6()"> JavaScript Arrays </button>
<br>
<button class="btn btn-success" (click)="myFunction7()"> JavaScript Objects </button>
<br>
<button class="btn btn-success" (click)="myFunction8()"> JavaScript typeof </button>
<br>
 
Reault : {{myFunction9(14,2)}}

Reault : {{myFunction10(14,2,"Add1")}}


<br>

<div class="w3-responsive">
    <table class="w3-table-all">
    <tbody><tr>
    <th style="width:370px">
    Object
    </th>
    <th>
    Properties
    </th>
    <th>
    Methods
    </th>
    </tr>
    <tr>
    <td>
    <img src="../assets/image/objectExplained.gif" style="width:368px;height:230px;">
    </td>
    <td>
    <br>car.name = Fiat<br><br>
    car.model = 500<br><br>
    car.weight = 850kg<br><br>
    car.color = white
    </td>
    <td>
    <br>car.start()<br><br>
    car.drive()<br><br>
    car.brake()
    <br><br>car.stop()</td>
    </tr>
    </tbody></table>
 </div>


 <p>Special Characters</p>

 The sequence \"  inserts a double quote in a string:
 <br>
 The sequence \'  inserts a single quote in a string:
 <br>
 The sequence \\  inserts a backslash in a string:
 <br>
 <br>

 <div id="demo3"></div>
 <br>

  <button class="btn btn-success" (click)="myFunction11()"> inserts a double quote in a string </button>
   We are the so-called \"Vikings\" from the north.
  <br>
  <button class="btn btn-success" (click)="myFunction12()"> inserts a single quote in a string </button>
   'It\'s alright.'
  <br>
  <button class="btn btn-success" (click)="myFunction13()"> inserts a backslash in a string </button>
  "The character \\ is called backslash.";
  <br>


 <h3>\b	Backspace</h3>   
 <h3>\f	Form Feed</h3>  
 <h3>\n	New Line</h3> 
 <h3>\r	Carriage Return</h3> 
 <h3>\t	Horizontal Tabulator</h3> 
 <h3>\v	Vertical Tabulator</h3>  


<p>JavaScript String Methods</p>
<div id="demo4"></div>
 <button class="btn btn-success" (click)="myFunction14()"> length -  ABCDEFGHIJKLMNOPQRSTUVWXYZ </button> 
 <br>
 <button class="btn btn-success" (click)="myFunction15()"> indexOf - Please locate where 'locate' occurs!</button>
 <br>
 <button class="btn btn-success" (click)="myFunction16()"> lastIndexOf - Please locate where 'locate' occurs!</button>
 <br>
 <button class="btn btn-success" (click)="myFunction17()"> slice(-12, -6)   Apple, Banana, Kiwi</button>
 <br>
 <button class="btn btn-success" (click)="myFunction18()"> substr(7, 6)   Apple, Banana, Kiwi</button>
 <br>
 <button class="btn btn-success" (click)="myFunction19()"> substr(-4)   Apple, Banana, Kiwi</button>
<br>
 <button class="btn btn-success" (click)="myFunction20()"> replace Kiwi to Kiwi Kiwi Kiwi</button>
 <br>
 <button class="btn btn-success" (click)="myFunction21()">replace(/Microsoft/g,"MM")  Microsoft Please visit Microsoft and Microsoft</button>
 <br>
 <button class="btn btn-success" (click)="myFunction22()">toUpperCase</button>
 <br>
 <button class="btn btn-success" (click)="myFunction23()">toLowerCase</button>
<br>
 <button class="btn btn-success" (click)="myFunction24()">concat</button>
<br>
 <button class="btn btn-success" (click)="myFunction25()">trim</button>
<br>
 <button class="btn btn-success" (click)="myFunction26()">charAt(0) HELLO WORLD </button>
<br>
 <button class="btn btn-success" (click)="myFunction27()">charCodeAt(0) </button>
<br>
 <button class="btn btn-success" (click)="myFunction28()">str[0]</button>
<br>
 <button class="btn btn-success" (click)="myFunction29()">split</button>

 <p>JavaScript Number Methods</p>
 <div id="demo5"></div>

 <button class="btn btn-success" (click)="myFunction30()">toFixed  9.656</button>
<br>
 <button class="btn btn-success" (click)="myFunction31()">toPrecision  9.656</button>
<br>
 <button class="btn btn-success" (click)="myFunction32()">convert a date to a number 2017-09-30 </button>
<br>
parseInt
<br>
parseFloat
<br> 
<button class="btn btn-success" (click)="myFunction33()">parseInt Convert To No </button>
<p>JavaScript Arrays</p>
<div id="demo6"></div>

<button class="btn btn-success" (click)="myFunction34()">Arrays </button>
 <br>
<button class="btn btn-success" (click)="myFunction35()">Changing an Array Element - Saab,Volvo,BMW  </button>
 <br>
<button class="btn btn-success" (click)="myFunction36()">JavaScript uses names to access object  John Doe</button>
 <br>
<button class="btn btn-success" (click)="myFunction37()">JavaScript using numeric indexes  ["Banana", "Orange", "Apple", "Mango"]  </button>
 <br>
<button class="btn btn-success" (click)="myFunction38()">The best way to loop through an array is using a standard for loop </button>
 <br>
<button class="btn btn-success" (click)="myFunction40()">The push method appends a new element to an array. </button>
 <br>
<h4> JavaScript Array Methods</h4>

<button class="btn btn-success" (click)="myFunction41()">The new ECMASCRIPT 5 method isArray returns true when used on an array </button>
 <br>
<button class="btn btn-success" (click)="myFunction42()">The join() method joins array elements into a string. </button>
 <br>
<button class="btn btn-success" (click)="myFunction43()">The pop() method removes the last element from an array. ["Banana", "Orange", "Apple", "Mango"]</button>
 <br>
<button class="btn btn-success" (click)="myFunction44()">The shift() method removes the first element of an array ["Banana", "Orange", "Apple", "Mango"]</button>
<br>
<button class="btn btn-success" (click)="myFunction45()">The unshift() method adds new elements to the beginning of an array. ["Banana", "Orange", "Apple", "Mango"]</button>
<br>
<button class="btn btn-success" (click)="myFunction46()">The splice() method adds new elements to an array. ["Banana", "Orange", "Apple", "Mango"]</button>
<br>
<button class="btn btn-success" (click)="myFunction47()">The concat() method is used to merge (concatenate) arrays:</button>
<br>
<button class="btn btn-success" (click)="myFunction48()">The concat() method is used to merge (concatenate) arrays:</button>
<br>
<button class="btn btn-success" (click)="myFunction49()">The concat() method can also merge values to arrays:</button>
<br>
<button class="btn btn-success" (click)="myFunction50()">This example slices out a part of an array starting from array element 1 ("Orange"):</button>
<br>
<h4> JavaScript Sorting Arrays</h4>
<br>
<button class="btn btn-success" (click)="myFunction51()">The sort() method sorts  ["Banana", "Orange", "Apple", "Mango"] </button>
<br>
<button class="btn btn-success" (click)="myFunction52()">The reverse() method reverses the elements in an array. ["Banana", "Orange", "Apple", "Mango"] </button>
<br>
<button class="btn btn-success" (click)="myFunction53()">Click the button to sort the array in ascending order [40, 100, 1, 5, 25, 10]</button>
<br>
<button class="btn btn-success" (click)="myFunction54()"> Click the button to sort the array in descending order.  [40, 100, 1, 5, 25, 10]</button>
<br>
<button class="btn btn-success" (click)="myFunction55()">  Click the button (again and again) to sort the array in random order.  [40, 100, 1, 5, 25, 10]</button>
<br>
<button class="btn btn-success" (click)="myFunction56()"> The lowest number is  [40, 100, 1, 5, 25, 10]</button>
<br>
<button class="btn btn-success" (click)="myFunction57()"> The highest number is [40, 100, 1, 5, 25, 10]</button>
